<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VikingS</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
      <link rel="stylesheet" href="{{app.request.basepath}}/src/css/404_fun.css">
      <link rel="icon" href="favicon.ico  type="image/x-icon" />
  </head>
  <body>
